APP_CONTAINER_NAME=task-tracker-app
APP_PORT=8080

POSTGRES_IMAGE_TAG=16-alpine
POSTGRES_CONTAINER_NAME=task-tracker-postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=task_tracker
POSTGRES_USER=task_tracker
POSTGRES_PASSWORD=change_me

DATABASE_URL=postgres://task_tracker:change_me@localhost:5432/task_tracker?sslmode=disable
MIGRATE_DIR=db/migrations
